#  Local .terraform directories
**/.terraform/*
**/.terragrunt-cache/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
content-distribution/dev-account-1/us-east-2/prod/elastic-beanstalk/reference-production.cfg.yml
